/nbproject/private/
/dist/
/build/
savedGames/
Story/
nbproject/private/private.xml
dist/Story_Builder.jar
build/built-jar.properties
build/built-jar.properties
*.html
dist/Story_Builder.html
dist/Story_Builder.jar
dist/Story_Builder.jnlp
*.jnlp
dist/Story_Builder.jar
dist/Story_Builder.html
build/classes/UI/FXMLDocument.fxml
build/built-jar.properties
build/built-jar.properties
build/classes/UI/FXMLDocument.fxml
dist/Story_Builder.html
dist/Story_Builder.jar
dist/Story_Builder.jnlp
